.post {
    border-radius: var(--border-radius);
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;

    height: fit-content;

    background-color: var(--content-background);
    color: var(--textColour);
  }

.postHeader {
    columns: 2;
    padding: var(--border-radius);
    justify-items: stretch;
}

.postHeader > h3 {
    color: var(--text-high-emphasis);
}

.postHeader > p {
    text-align: right;
    color: var(--text-disabled);
}

.postContent {
    padding: 0;
}

.postContent > img {
    max-width: 100%;
    display: block;
}

.postContent > figcaption {
    padding: var(--border-radius);
    padding-bottom: 0;
    color: var(--text-medium-emphasis);
}

.postFooter {
    height: auto;
    padding: var(--border-radius);
    padding-top: 0.5em;
}

.postReactions {
    width: 100%;
    height: 35px;
    column-count: 5;
    display: inline-block;
    text-align: center;
}

.post button {
    width: 85%;
    height: 30px;
    margin: 0px 7.5%;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--button-background);
    color: var(--button-content);
    transition: filter 300ms;
}

.post button:hover {
    filter: brightness(0.9);
}

[data-theme="dark"]
.post button:hover {
    filter: brightness(1.2);
}

.postFooter > span {
    width: 100%;
    columns: 2;
    display: inline-block;
    text-align: center;
    justify-items: stretch;
}

.postFooter > span > p {
    justify-self: left;
    color: var(--text-medium-emphasis);
}

.postFooter > span > button {
    justify-self: right;
    width: 95%;
}

.postFooter > p {
    margin: 0.5rem;
    color: var(--text-disabled);
}