:root {
    /* PANTONE VERI PERI */
    --background: rgb(102, 103, 171);
    /*
    --background: rgb(255, 215, 235);
    --mimi-pink: #fcdbeaff;
    --new-york-pink: #db8282ff;
    --blond: #fff5baff;
    --capri: #4ac3f9ff;
    --light-orange: #fedeb9ff;
    --yellow-green-crayola: #aad782ff;
    --platinum: #ede9e9ff;
    --rajah: #fbb05cff;
    */
    --foreground: rgb(255, 255, 255);
    --contentBG: rgb(215, 215, 215);
    --textColour: rgb(0, 0, 0);
    --main: rgb(255, 255, 255);
}

.app__body {
    display: flex;

}

.app {
    background-color: rgb(255, 215, 235);
    width: auto;
    height: 900px;
}
