:root {
    /* PANTONE VERI PERI */
    --background: rgb(102, 103, 171);
    /*
    --background: rgb(255, 215, 235);
    --mimi-pink: #fcdbeaff;
    --new-york-pink: #db8282ff;
    --blond: #fff5baff;
    --capri: #4ac3f9ff;
    --light-orange: #fedeb9ff;
    --yellow-green-crayola: #aad782ff;
    --platinum: #ede9e9ff;
    --rajah: #fbb05cff;
    */
    --foreground: rgb(255, 255, 255);
    --contentBG: rgb(58, 59, 146);
    --textColour: rgb(32, 32, 32);
    --titleColour: rgb(102, 103, 171);
    --main: rgb(255, 255, 255);

    --border-radius: 15px;
    --nav-size: 60px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

a {
    color: var(--text-color);
    text-decoration: none;
  }

.app__body {
    display: flex;
}

.app {
    background-color: var(--background);
    width: auto;
    height: 160vh;
}
