*{
  margin: 0;
  color: var(--text-color);
  transition: background-color 300ms ease-in;
}

:root {
  /* PANTONE VERI PERI */
  --background: rgb(102, 103, 171);
  --foreground: rgb(255, 255, 255);
  --foreground-active: rgb(238, 238, 238);
  
  --content-background: rgb(255, 255, 255);

  --title-colour: rgb(102, 103, 171);
  --text-colour: rgb(32, 32, 32);
  --text-high-emphasis: rgb(33.15, 33.15, 33.15);
  --text-medium-emphasis: rgb(76.5, 76.5, 76.5);
  --text-disabled: rgb(158.1, 158.1, 158.1);

  --button-background: rgb(249, 249, 249);
  --button-content: var(--text-medium-emphasis);

  --border-radius: 15px;
  --nav-size: 60px;
}

[data-theme="dark"] {
  /* PANTONE VERI PERI */
  --background: rgb(12, 12, 12);
  --foreground: rgb(102, 103, 171);
  --foreground-active: rgb(73, 74, 148);

  --content-background: rgb(49, 49, 49);

  --title-colour: rgb(102, 103, 171);
  --text-colour: rgb(220, 220, 220);
  --text-high-emphasis: rgb(255, 255, 255);
  --text-medium-emphasis: rgb(153, 153, 153);
  --text-disabled: rgb(97, 97, 97);

  --button-background: rgb(72, 72, 72);
  --button-content: var(--text-medium-emphasis);

  --border-radius: 15px;
  --nav-size: 60px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0
}

a {
  text-decoration: none;
}